@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*body {*/
/*    width: 1440px;*/
/*}*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}
  .site-header{
      width: 100%;
      height: 86px;
      background: #EFF0F3;
      /* For White Background */
      box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
      position: fixed;
  }
  .header_content_1250{
      width: 1250px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 22px;
  }
  .logo{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
}
  .logo span{
    color:  #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  .main_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
header nav ul li{
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
.menu-link{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background: #6246EA;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
}
.menu-link p{
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#about_me{
    width: 100%;
    background: #EFF0F3;
    height: 814px;

}
.hero-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about_me_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about_me_content h1{
    padding-top: 185px;
    color: #2B2C34;
    width: 617px;
    /* 64 px - Heading 1 */
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.about_me_content h3{
    width: 652px;
    color:  #9A9494;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.learning{
    padding-top: 164px;
}
.button-forms{
    display: flex;
    flex-direction: row;
    width: 609px;
    height: 67px;
    gap: 20px;
}
#subscribe-input{
    padding: 21px 200px 21px 25px;
    width: 444px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    /* 20 px - Paragraph 1 */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#subscribe-button{
    width: 145px;
    height: 67px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background:#6246EA;
    color: #FFFFFE;
    /* 20 px - Sub Heading 2 */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
#choose_categories{
    height: 500px;
        background: #EFF0F3;
}
.choose-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    gap: 50px;
}
.section-name{
    color:  #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    white-space: nowrap;

}
.header-section{
    order: 0;
    display: flex;
    width: 100%;
    background: yellow;
    padding: 2px 0 3px 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.see-all{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color:  #2B2C34;
    font-size: 20px;
    /*text-align: right;*/
    font-weight: 700;
    line-height: 1;
    gap: 12px;
}
.see-all-icon{
    display: block;
    width: 6px;
    height: 14px;
    transform:translateY(3px);
    flex-shrink: 0;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}
a.category-card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background:  #FFFFFE;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-left: 30px;
    padding-bottom: 95px;
    padding-top: 65px;

}
.category-card:hover{
    border-radius: 8px;
    background: #6246EA;
    transition: 0.3s ease;
}
.category-name{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    white-space: nowrap;
}
.category-logos{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 7.458px;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #FFFFFE;
    padding: 80px 0;
}
.featured-article{
    display: flex;
    width: 1250px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}
.wrapper-postcards {
    order: 1;
    width: 100%;
    height: 425px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
#CSS, #java-script, #react{
    scroll-margin-top:86px;
}
.post-card{
    display: flex;
    width: 300px;
    height: 425px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 80px;
}
.gap-80{
    gap: 80px;
}
.gap-55{
    gap: 55px;
}
.gap-30{
    gap: 30px;
}
.post-card:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
   }
.img-post{
    width: 260px;
    height: 198px;
    display: block;
    object-fit: cover;
    border-radius: 12.599px;
    background: lightgray;
}
.name-post{
    width: 260px;
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.author-post{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.img-dasteen{
    width: 57px;
    height: 57px;
    background:  lightgray;
    border-radius: 57px;
}
.author{width: 73px;
    height: 21px;
    color:  #2B2C34;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.reliz{
    width: 184px;
    height: 21px;
    color:#2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.more-article{
    width: 165px;
    height: 64px;
    margin: 0 auto;
    color: #FFFFFE;
    border-radius: 8px;
    background: #6246EA;
    display: flex;
    flex-direction: row;
    /*padding: 10px*/
;
    justify-content: center;
    align-items: center;
    gap: 10px;}
.more-article p{ font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe-section{
    width: 100%;
    display: flex;
    padding: 58px 372px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background:  #EFF0F3;
}
.subscribe-section-wrapper{
    width: 696px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.circle{
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mailbox{
    width: 80.066px;
    height: 106.755px;
    flex-shrink: 0;
}
.subscribe-title{
    color: #2B2C34;
       font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.textForSubscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.textForSubscribe p{
    color: #C0C0C0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    height: 435px;
    flex-shrink: 0;
}
.footer-wrapper{
    margin: 0 auto;
    width: 1250px;
    height: 435px;
    flex-shrink: 0;
    padding: 70px 0;
}
.footer-text{
    display: inline-flex;
    align-items: flex-start;
    gap: 160px;
}
.bottom-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.media-links{
    width: 190px;
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:95px;
}
.drop-down-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;

}
.footer-li{
    color: #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.drop-down-ul a{
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.li-dropdown{
    color:  #2B2C34;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
}

hr{
    width: 1250px;
    height: 1px;
    background: #C0C0C0;
    margin-top: 50px;
}
.copyright{
    color: #2B2C34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 26px;
    padding-bottom: 26px;
}
footer p{
    color:#2B2C34;
    /* 18 px - Paragraph 2 */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
