@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;

}
  header{
      width: 100%;
      height: 86px;
      background: #EFF0F3;
      /* For White Background */
      box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
      position: fixed;
  }
  .header_content_1250{
      width: 1250px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 22px;
  }

  .logo{
    color: #001858;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;;
}
  .logo span{
    color:  #6246EA;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

  nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav ul li{
    color:  #2B2C34;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu-link{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background: #6246EA;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
}
.menu-link p{
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#about_me{
    width: 100%;
    background: #EFF0F3;
    height: 814px;

}
.hero-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.about_me_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about_me_content h1{
    padding-top: 185px;
    color: #2B2C34;
    width: 617px;
    /* 64 px - Heading 1 */
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.about_me_content h3{
    width: 652px;
    color:  #9A9494;


    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.learning{
    padding-top: 164px;
}
.button-forms{
    display: flex;
    flex-direction: row;
    width: 609px;
    height: 67px;
    gap: 20px;
}
.button-forms input:nth-child(1){

    padding: 21px 200px 21px 25px;

    width: 444px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    /* 20 px - Paragraph 1 */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button-forms input:nth-child(2){
    width: 145px;
    height: 67px;
    padding: 20px 23px 19px 23px;
    border-radius: 8px;
    background:#6246EA;
    color: #FFFFFE;
    /* 20 px - Sub Heading 2 */
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
#choose_category{
    height: 500px;
    background: #EFF0F3;
}
.choose-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0;
    gap: 50px;
}
.browse{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0px 3px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 904px;
    flex-shrink: 0;
}
.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}
.card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    background:  #FFFFFE;
    /* For White Background */
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-left: 30px;
    padding-bottom: 95px;
    padding-top: 65px;

}
.active{
    border-radius: 8px;
    background: #6246EA;
}
.h3-browse{
    height: 30px;
    color: #232323;
    /* 24 px - Sub heading 1 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.article-w1250{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #FFFFFE;;

}
.featured-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.post{
    display: flex;
    width: 300px;
    height: 425px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFFFFE;

    /* For White Background */
    box-shadow: 4px 6px 13px 0px rgba(215, 215, 215, 0.25);
}
.img-post{
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
    background: lightgray 50% / cover no-repeat;
}
.img-dasteen{
    width: 57px;
    height: 57px;
  ;    background:  lightgray
}
